{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Symfony Project{% endblock %}</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{{ path('project_list') }}">Проекты</a></li>
            <li><a href="{{ path('developer_list') }}">Разработчики</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block body %}{% endblock %}
</main>

</body>
</html>
